body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(70,70,70);
    background-color: rgb(250,250,250);
    margin: 0;
    padding: 0;
}
.container
{
   width: 600px;
   margin: 16px auto; /* centers the layout */
}

header {
    background-color: rgb(150,175,76);
    color: white;
    text-align: center;
    padding: 1em;
}

h1, h2, h3 {
    color: rgb(70,70,70);
}

a {
    color: rgb(0,123,255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

article {
    margin: 20px;
    padding: 20px;
    background-color: rgb(255,255,255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.date {
    color: rgb(90,90,90);
    font-size: 0.8em;
}

footer {
    background-color: rgb(55, 55, 55);
    color: rgb(76, 185, 80);
    font-size: 12px;
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 16px;
    padding: 16px,24px,16px,24px;
    /*padding:top right bottom left */
    padding: 16px,24px,16px,24px;     
}
